body{
  background:url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Logo_del_INE_%28sin_texto%29.svg/1280px-Logo_del_INE_%28sin_texto%29.svg.png");
  margin:0px;
}
.go{
  margin-top:0px;
  padding:10px;
  border:0;
  background-color: #F6E3CA;
  list-style-type: none;
  text-align: center

}
.go li{
  display: inline;
  margin-right: 10px;
}
article{
  background:silver;
}
article ul{
  list-style-type:none;
}
article ul li{
  padding:30px;
  display:inline-block;
}
h1{
  text-align:center;
  font-size:30px;
  color:white;
  text-shadow: 2px 2px  #454545;
}