body{
  margin:0;
  padding:0;
  background-image: url(img/fondo.webp);
  background-size: cover;
  background-attachment: fixed;
}

header{
  width: 100%;
  position:fixed;
  top:0px;
  background-image:linear-gradient(to right,orange, lightgray);
}

header ul{
  
  text-align:center;
  margin:0;
  padding:0;
}

header ul li{
  margin:25px;
  display:inline-block;
  list-style: none;
}
/* no puedo estar con ella, es demasiado para mi. su cabello y su personalidad son perfectos como si los dioses la allan hecho*/
header ul li a{
  text-decoration: none;
  text-align:center;
  color:#ffffff;
  font-family:Arial, Helvetica, sans-serif;
  font-size:20px;
}
header ul :hover{
  font-size:30px;
}

.prt1{
  padding:50px;
  background:white;
  font-size:18px;
}
.prt1 img{
  width:355px;
  background:white;
  margin-right:10px;
  float:left;
}
.prt2 #kiko-slider {
  font-family: sans-serif;
  margin: auto;
  background-color: white;
  max-width: 800px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.prt2 #kiko-slider>ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.prt2 #kiko-slider>ul.slider {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 300px;
}

.prt2 #kiko-slider>ul.slider h1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
}

.prt2 #kiko-slider>ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
  background: #fff;
}

.prt2 #kiko-slider>ul.slider li img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.prt2 #kiko-slider>ul.slider li:first-child {
  opacity: 1;
  /*Mostramos el primer <li>*/
}

.prt2 #kiko-slider>ul.slider li:target {
  opacity: 1;
  /*Mostramos el <li> del enlace que pulsemos*/
}

.prt2 #kiko-slider>.menu {
  text-align: center;
  margin: 20px;
}

.prt2 #kiko-slider>.menu li {
  display: inline-block;
  text-align: center;
}

.prt2 #kiko-slider>.menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}